<div style="margin:5px auto;padding:0 10px;width:580px;border:5px solid #898989;">
	<div style="height:80px;border-bottom:1px solid #3b5998;padding:0;margin:0;">
		<img src="http://jtd.oicp.net:88/images/logo.png" />
	</div>
	<div style="padding:5px;background:#f0f0f0;border-left:1px solid #3b5998;border-right:1px solid #3b5998;">
		<div style="font-size:12px;">
			尊敬的用户：您好，感谢您在伴我网上注册！伴我是社交型实名制网站，为了保证您提交的信息是正确的，我们需要对您的注册进行Email验证。、
			我们保证您在网站上的信息不会被第三方获取，并保证您登录网站的安全。请按下面的提示操作！			
		</div>
	 	<div style="font-size:14px;font-weight:bold;background:#3b5998;color:#fff;padding:5px;">
	 		以下是您在网站上的注册信息，请牢记。
	 	</div>
	 	<div style="margin:5px 0;border:1px solid #3b5998;background:#f9fcfd;">
	 		<ul style="list-style:none;margin-left:20px;font-size:14px;padding:5px 0;color:#3b5998;">
                                <li>用户名: <%= @user.login %></li>
				<li>E-mail: <%= @user.email %></li>
				<li>密码: <%= @user.password %></li>
			</ul>
		</div>
		<div style="margin-top:5px;font-size:12px;">
		正常登录网站需要您进行帐户激活，请点击下面的地址进行激活。登录使用您注册时填写的Email地址。<br />
		<%= @url %>
		</div>
	</div>
	<div style="border-top:1px solid #3b5998;text-align:right;font-size:12px;">
		<p>
			<a href="" style="color:#000;text-decoration:underline;">关于我们</a>　
			<a href="" style="color:#000;text-decoration:underline;">隐私政策</a>　
			<a href="" style="color:#000;text-decoration:underline;">服务条款</a>　
			<a href="" style="color:#000;text-decoration:underline;">我们的团队</a>
		</p>
		<p style="color:#000;font-size:12px;">&copy; 2007 JutOline Co., Ltd. &reg; All rights reserved by SameRoads.com</p>
	</div>
</div>