<h1>编辑主题</h1>

<% if error_messages_for :topic %>
	  <div id="error"><%= error_messages_for :topic %></div>
<%end%>

<% form_for :topic, :url => forum_topic_path(:id => @topic, :forum_id => @topic.forum),
                          :html => {:method => :put} do |f| %>
    <p>主题：<%= f.text_field :name, :size => 40 %></p>
    <%= f.submit "编辑" %>
<% end %>

