<ul style="list-style:none;">
	<li class="my_date">12月10日，消息中心开发完毕，网站上线测试</li>
	<li class="my_date">11月15日，出行及好友系统开发完毕</li>
	<li class="my_date">11月05日，日历及日记系统开发完毕</li>
	<li class="my_date">10月20日，用户系统开发完毕</li>
	<li class="my_date">10月12日，采用rails2.0架构开始搭建网站</li>
</ul>