	<div id="footer">
		<div class="left">
			<a href="">服务条款</a>-
			<a href="">隐私政策</a>-
			<a href="">联系我们</a>-
			<a href="">我们的团队</a>
		</div>
		<div class="right">
			<p>&copy; 2007-2008 伴我网 ; &reg; All rights reserved by <a href="/">SameRoads.com</a></p>
			<p><a href="http://www.miibeian.gov.cn" target="_blank">京ICP备05040050号</a></p>
		</div>
	</div>